$colors: (
  common: (
    xw-white: #ffffff,
    xw-black: #000,
  ),
  heading: (
    xw-primary: #000,
  ),
  grey: (
    clr-1: #f1f1f1,
    clr-2: #f5f6f8,
  ),
  text: (
    body: #000,
    p: #000,
  ),
  theme: (
    xw-main-color: #3d6ce7,
  ),
  border: (
    clr-1: #000,
  ),
);
