$colors: (
  common: (
    white: #ffffff,
    black: #000,
    orange: #ffc300,
    primary: #003566,
    header-bg: #00407a,
  ),
  heading: (
    primary: #003566,
  ),
  grey: (
    1: #f1f1f1,
    2: #f5f6f8,
  ),
  text: (
    body: #8d8d8d,
    1: #8d8d8d,
  ),
  theme: (
    1: #003566,
  ),
  border: (
    1: #cccccc,
    2: #ffc300,
    3: #ffffff,
  ),
);
