@use "../utils" as *;

/*--
    - Background color
-----------------------------------------*/
.grey-background {
  background: var(--tp-grey-1);
}
.grey-background-2 {
  background: var(--tp-grey-2);
}

.white-background {
  background: var(--tp-common-white);
}

.black-background {
  background: var(--tp-common-black);
}
